
<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>BHK:</strong>
  <%= @article.bhk %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @article.rent %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @article.deposit %>
</p>

<p>
  <strong>Area:</strong>
  <%= @article.area %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @article.locality %>
</p>

<p>
  <strong>Amenities:</strong>
  <%= @article.amenities %>
</p>